<ul>
    {{#each places}}
        <li class="item">
            <a href="">
                <figure class="thumb">
                    <img src="">
                </figure>
                <h2>Nombre del lugar</h2>
                <span>Ciudad, País</span>
                <span>Categoría</span>
            </a>
        </li>
    {{/each}}
</ul>