html,
select,
input,
textarea {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
body {
  color: #222;
}
#map {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
