extends layout

block stylesheets
    if locals.dev == 'production'
        link(rel="stylesheet", href="css/app.min.css")
    else
        link(rel="stylesheet", href="css/app.css")

block main
    div(id="map")

block javascripts
    if locals.dev == 'production'
        script(src="js/app.min.js")
    else
        script(src="vendor/requirejs/require.js", data-main="js/app/main")