!!!
html(lang="es")
    head
        meta(charset="utf-8")
        title #{title} | Webapp
        meta(name="description", content="#{description}")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        block stylesheets

        link(rel="icon", type="image/x-icon", href="img/assets/favicon.png")
    body
        div(id="map")
        script(src="vendor/requirejs/require.js", data-main="js/app/main")

        block main

        block javascripts
